@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela&display=swap');
body{
    background-color:antiquewhite;
}
*{
    margin:0px;
    padding:0px;
}
nav{
    font-family:'Ubuntu';
}
nav ul{
    display: flex;
    align-items:center;
    list-style-type:none;
    height:65px;
    background-color:black;
    color:white;
}
.brand img{
    width:44px;
}
nav ul li{
    padding:0 12px;
}
.brand{
    display:flex;
    align-items:center;
    font-weight:bolder;
    font-size:1opx;
}
.container{
    min-height:72vh;
    display:flex;
    color:white;
    background-color:black;
    margin:23px auto;
    width:70%;
    border-radius: 12px;
    padding:34px;
    background-image:url('bg.jpg');
}
.bottom{
    background-color:black;
    bottom:0px;
    height:130px;
    color:white;
    position:sticky;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.icons{
    margin-top:14px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width:80vw;
    cursor: pointer;
}
.songitemcontainer
{
    margin-top:74px;
}
.songItem{
    height:50px;
    display:flex;
    color:black;
    margin:12px 0;
    background-color:white;
    justify-content:space-between;
    align-items:center;
    border-radius:34px;
}
.songItem i{
    cursor: pointer;
}
.songItem img{
    width:43px;
    margin:0 23px;
    border-radius: 34px;
}
.timestamp{
    margin:0 23px;
}
.songinfo{
    position:absolute;
    left:10vw;
}
.songinfo img{
    opacity:0;
    transition:opacity 1s ease-in;
}